/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    background-color: #CDC;
}
.application{
    position: relative;
	width: 850px;
	margin: 0 auto;
	background-color: #4B4;
	font-family: helvetica;
    font-size: 18px;
    color: #030;
    border-radius: 5px;
}
.title{
    position: absolute;
    margin-left: 30px;
    font-family: helvetica;
    font-size: 32px;
    color: #040;    
}
.user-status{
    position: absolute;
    margin-left: 620px;
    margin-top: 10px;
    font-family: helvetica;
    font-size: 16px;
    color: #030;
}
.link-text{
    display: inline;
    color: #020;
    text-decoration: none;
    background-color: #393;
    border: 1px solid #020;
    border-radius: 5px;
    padding: 5px;
}
.story{
    position: absolute;
    top: 20px;
}
.letter{
    position: absolute;
    display: inline;
    font-family: Fixed, monospace;
    font-size: 16px;
    color: #000;    
}
.page-left{
    top: 455px;
    left: 60px;
    -webkit-transform: rotate(10deg); 
    -ms-transform: rotate(10deg); 
    transform: rotate(10deg);    
}
.page-right{
    top: 455px;
    left: 810px;
    -webkit-transform: rotate(-10deg); 
    -ms-transform: rotate(-10deg); 
    transform: rotate(-10deg);
}
.next{
    position: absolute;
    height: 493px;
    width: 430px;
    top: 30px;
    left: 440px;
    z-index: 1;
}
.previous{
    position: absolute;
    height: 493px;
    width: 420px;
    top: 30px;
    left: 20px;
    z-index: 1;
}
.first{
    position: absolute;
    top: 525px;
    left: 30px;
    color: #030;
    text-decoration: none;    
}
.last{
    position: absolute;
    top: 525px;
    left: 830px;
    color: #030;
    text-decoration: none;    
}
.passage{
    position: absolute;
    top: 550px;
    left: 30px;
}
.submit{
    position: absolute;
    top: 570px;
    left: 380px;
}
.delete{
    position: absolute;
    top: 610px;
    left: 380px;
}
.back{
    padding-bottom: 0px;
    margin-left: 2px;    
}